@{
    ViewData["Title"] = "Hello User";
}


<div class="text-center mt-5">
    <h1 class="display-4">Hello, @ViewData["Name"]!</h1>
    <p>Welcome back to CheckersWeb.</p>
    <a asp-controller="Home" asp-action="game" class="btn btn-primary mt-3">Start Playing</a>
</div>